/* ALL FRONT END */

* {
	font-family: "Varela Round", serif;
	box-sizing: border-box;
}

body {
	min-height: 200px;
	margin-bottom: 50px;
	clear: both;
}

/* NAVBAR */

.navbar {
	width: 100%;
	padding: 10px;
	margin-bottom: 40px;
	right: 0;
	left: 0;
}

.nav-item {
	text-align: center;
}

.cyf_logo {
	width: 200px;
	height: auto;
}

/* HOME PAGE */

.introMessage {
	width: 80%;
	border-radius: 10px;
	border: solid 3px #eef0ee;
	border-radius: 40px;
	margin: 100px auto 30px auto;
	padding: 50px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.introMessage h3 {
	font-weight: 1000;
	margin-bottom: 30px;
}
.introMessage h4 {
	font-weight: lighter;
	margin-top: 30px;
}

/* BUTTON ON HOME PAGE */

.linkButtons,
.linkButtons {
	width: 200px;
	height: 50px;
	margin: 5px auto 20px auto;
	border-radius: 10px;
	border: solid 2px #0a5503;
	font-size: 25px;
	text-align: center;
}

.linkButtons:hover,
.linkButtons button:hover {
	background-color: #b1f778e3;
	color: #0a5503;
}

.blueButton {
	background-color: #1ac00b;
	font-size: 1.2rem;
}

/* */

.username {
	width: 100%;
	text-align: center;
	font-size: 50px;
}

.userDetails {
	width: 90%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0px 10px 30px 10px;
}

.userStats {
	font-size: 28px;
	font-family: "Nunito", sans-serif;
	padding-top: 10px;
}

.profilePic {
	height: 200px;
	padding: 20px;
}

/* CHART */

.chart {
	width: 60%;
	margin-top: 5%;
	margin-left: 20%;
	margin-bottom: 10%;
}

/* CHANNELS PAGE */

.slack_logo {
	width: 20px;
	height: auto;
	margin-right: 10px;
}

.users_icon {
	width: 27px;
	height: auto;
	margin-right: 15px;
}

/* TABLE ON CHANNELS PAGE */

.table {
	margin: auto;
	width: 80%;
}

.table th {
	width: 200px;
	padding: 10px;
}

.table td {
	width: 50px;
	padding: 10px;
}

.arrow {
	width: 15px;
	height: auto;
}

/* TABLE ON SINGLE CHANNEL PAGE */

.channelTable {
	margin-top: 20px;
}

.thickBottomBorder {
	border-bottom: solid 2px black;
}

/* SINGLE USER DATA */
.red {
	color: red;
}

.green {
	color: green;
}

/* FOOTER */

.footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 5px;
	background-color: #080808;
	margin-top: 1rem;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

/* DROPDOWN COMPONENT FOR FUTURE RELEASES */

/* .dropdown-menu.show {
	width: 100%;
	align-self: center;
	font-size: 25px;
	text-align: center;
} */
